body {
    background-color: #fffccc;
}
p{
    color:black;
}
.task_name{
    color: #888999;
}

.list_column {
    float: left;
    width: 38%;
    height: 70vmin;
    padding: 0px;
    color: #888999; 
    background-color: #fffccc;
    overflow-y: scroll;
}

.plan_view {
    float: left;
    width: 62%;
    height: 70vmin;
    padding: 0px;
    color: #888999; 
    background-color: #dddaaa;
    overflow-y: scroll;
}

.plans_list{
    margin: 10px;
}

.mode.active{
    background-color: #fffccc;
    color: #666666;
}

.mode{
    font-size: 25px;
    padding: 8px;
    padding-left: 15px;
    background-color: #dddaaa;
    color: #aaaaaa;
}


p.mode{
    float: left;
    min-width: 50%;
    cursor: pointer;
}

p.mode:hover{
    background-color: #eeebbb;
    color: #eeeeee;
}

p.modes{
    background-color: #ddc000;
    width: 100%;
    clear: both;
}

.plan_name{
    margin-left: 10px;
}
.plan_name:hover{
    color: #555500;
    display: block;
    cursor: pointer;
}
.plan_item{
    float: left;
}
.plan_state {
    color: red;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.state > ul {
    display:none;
    list-style-type: circle;
    margin-left: 0px;
    padding: 0px;
}

.task{
    margin-left: 10px;
    border-bottom: 1px dotted #fffccc;
    clear: both;
}
.task > .details{
    float: left;
    margin-left:10%;
    max-width: 70%;
}
.task > .state{
    color: blue;
    float: right;
    margin-right: 10%;
    max-width: 10%;
    cursor: pointer;
}

.user{
    font-size: 16px;
}

.progress{
    font-size: 14px;
    min-height: 30px;
    cursor: pointer;
    margin-bottom: 3px;
    border-color: #dddaaa;
    border-bottom: 2px dashed;
}
.progress > .plan_data{
    min-width: 60%;
}

.hidden{
    display: none;
}
.deleted{
    display: none;
}

.meta_list{
    padding:10px;
}

.planfeat{
    width: 100%;
    margin-bottom: 10px;
}

textarea.planfeat{
    width: 100%;
    max-height: 300px;
    min-height: 70px;
}

.task > textarea{
    display: block;
    width: 50vw;
    max-height: 200px;
    min-height: 70px;
    float:left;
    margin: 10px;
    margin-top: 0px;
}

input#order{
    margin-left:20px;
}

.display_type{
    width: 50%;
    padding: 2px;
    border: 2px solid #dddaaa;
    border-radius: 4px;  
    margin-left: 40px;
    cursor: pointer;
}

textarea.display_type {
    width: 50%;
    padding: 2px;
    border: 2px solid #dddaaa;
    border-radius: 4px;  
    margin-left: 40px;
    cursor: pointer;
}

.display_type.active{
    border: 2px solid #35bb22;
    background-color: #fffccc;
}

.greenbutton{
    border: 3px solid #35bb22;
    color: #35bb22;
    margin: 10px;
    border-radius: 6px;
    padding: 2px 0;
    text-align: center;
    display: block;
    cursor: pointer;
    height: 40px;
}

#plusik{
    width: 40px;
    font-size: 36px;
    line-height: 28px;
    float:left;
}

#submit{
    float:right;
    font-size: 24px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    text-decoration: none;
}

#submit:hover{
    color: #fffccc;
    cursor: pointer;
    text-decoration: none;
}

.minusik{
    border: 3px solid #b32424;
    color: #b32424;
    margin: 10px;
    border-radius: 6px;
    width: 40px;
    line-height: 24px;
    height: 40px;
    padding: 2px 0;
    font-size: 36px;
    text-align: center;
    display: block;
    cursor: pointer;
    float: right;
}

.positioning{
    float:left;
}

.positioning > div{
    display: block;
    cursor: pointer;
    min-width: 10px;
}

.positioning > div:hover{
    color: #666666;
    cursor: pointer;
}

.proposition{
    cursor: pointer;
    margin-left: 5%;
}

#found{
    border-color: 2px solid #aaaaaa;
}
